.testimonials__container {
    width: 100%;
    padding-bottom: 4rem;
}

.client__avatar {
    width: 4rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 2px solid green;
}

.testimonials {
    background: blueviolet;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    /* to not allow user to select the text */
}

.client_review {
    color: white;
    font-weight: 300px;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
    background-color: aqua;

}

/* ======media queries for tablets(medium devices) =========*/

@media screen and (max-width: 1024px) {
    .testimonials__container {
        width: 60%;
    }
}

/* ======media queries for mobile(small devices) =========*/

@media screen and (max-width: 600px) {
    .testimonials__container {
        width: var(--container-width-sm);
    }

    .client_review {
        width: var(--container-width-sm);
    }
}